#####################################################################
#   Introduction
#####################################################################

## This file is the configuration for the LEDs.
## 2 x Daylight on a stick
## 1 x Disco on a stick
## Stealthburner lights

#####################################################################
#   LED Control
#####################################################################

## Chamber Lighting - Connected to HE3 - 2 x Daylight on a stick
## Keep ground isolated from frame
[output_pin caselight]
pin: HE3
pwm:true
shutdown_value: 0
value: 0
cycle_time: 0.01

## PITB activity LED
[output_pin activity_led]
pin: PITB:LED_RUN

## RGB Chamber lighting - Connected to RGB Header
[neopixel case_led]
pin: NEOPXL_2
chain_count: 18
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0

## Stealthburner RGB
[neopixel SB2040_led]
pin: SB2040:RGBLED
chain_count: 3
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

#####################################################################
#   Macros
#####################################################################

## Case lights - turn on and off
[menu __main __control __caselightonoff]
type: command
name: Caselight {'ON' if printer['output_pin caselight'].value > 0 else 'OFF'}
enable: {'output_pin caselight' in printer}
gcode:
    TOGGLE_CASELIGHT

## Control the brightness of the Caselight LEDs
[menu __main __control __caselightbrightness]
type: input
enable: {'output_pin caselight' in printer}
name: Brightness %: {'%3d' % (menu.input*100)}%
input: {printer["output_pin caselight"].value}
input_min: 0
input_max: 1
input_step: 0.1
gcode:
    SET_PIN PIN=caselight VALUE={menu.input}

[delayed_gcode caselight_off]
gcode:
    SET_PIN PIN=caselight VALUE=0

[gcode_macro TOGGLE_CASELIGHT]
gcode:
    {% if printer['output_pin caselight'].value > 0 %}
      SET_PIN PIN=caselight VALUE=0
    {% else %}
      SET_PIN PIN=caselight VALUE=1
    {% endif %}

[gcode_macro _rgb_vars]
# User settings for the StealthBurner status leds. You can change the status colors and led
# configurations for the logo and nozzle here.
variable_colors: {
        'case': {
            'busy': {'r': 0.4, 'g': 0.0, 'b': 0.0},
            'cleaning': {'r': 0.0, 'g': 0.02, 'b': 0.5},
            'calibrating_z': {'r': 0.8, 'g': 0., 'b': 0.35},
            'heating': {'r': 0.3, 'g': 0.18, 'b': 0.0},
            'homing': {'r': 0.0, 'g': 0.6, 'b': 0.2},
            'leveling': {'r': 0.5, 'g': 0.1, 'b': 0.4},
            'meshing': {'r': 0.2, 'g': 1.0, 'b': 0.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0},
            'printing': {'r': 1.0, 'g': 0.0, 'b': 0.0},
            'standby': {'r': 0.11, 'g': 0.11, 'b': 0.11},        
        },
        'logo': { # Colors for logo states
            'busy': {'r': 0.4, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cleaning': {'r': 0.0, 'g': 0.02, 'b': 0.5, 'w': 0.0},
            'calibrating_z': {'r': 0.8, 'g': 0., 'b': 0.35, 'w': 0.0},
            'heating': {'r': 0.3, 'g': 0.18, 'b': 0.0, 'w': 0.0},
            'homing': {'r': 0.0, 'g': 0.6, 'b': 0.2, 'w': 0.0},
            'leveling': {'r': 0.5, 'g': 0.1, 'b': 0.4, 'w': 0.0},
            'meshing': {'r': 0.2, 'g': 1.0, 'b': 0.0, 'w': 0.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'printing': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'standby': {'r': 0.01, 'g': 0.01, 'b': 0.01, 'w': 0.1},
        },
        'nozzle': { # Colors for nozzle states
            'heating': {'r': 0.8, 'g': 0.35, 'b': 0.0, 'w':0.0},
            'off': {'r': 0.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'on': {'r': 0.8, 'g': 0.8, 'b': 0.8, 'w':1.0},
            'standby': {'r': 0.6, 'g': 0.0, 'b': 0.0, 'w':0.0},
        },
        'thermal': {
            'hot': {'r': 1.0, 'g': 0.0, 'b': 0.0, 'w': 0.0},
            'cold': {'r': 0.3, 'g': 0.0, 'b': 0.3, 'w': 0.0}
        }
    }
variable_case_led_name:         "case_led" 
# The name of the addressable LED chain that contains the logo LED(s)
variable_case_idx:              "1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18" 
# A comma-separated list of indexes LEDs in the logo
variable_logo_led_name:         "SB2040_led" 
# The name of the addressable LED chain that contains the logo LED(s)
variable_logo_idx:              "1" 
# A comma-separated list of indexes LEDs in the logo
variable_nozzle_led_name:       "SB2040_led"
# The name of the addressable LED chain that contains the nozzle LED(s). This will
# typically be the same LED chain as the logo.
variable_nozzle_idx:            "2,3"
# A comma-separated list of indexes of LEDs in the nozzle

variable_thermal_config: {
        'extruder': {
            'cool_temp': 40,
            'leds': 'logo',
        },
        'heater_bed': {
            'cool_temp': 40,
            'leds': 'nozzle',
        },
    }
# temperatures at which cooling will be considered complete

gcode:
    ; Do nothing

[gcode_macro _set_case_leds]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set led = params.LED|string %}
    {% set idx = (params.IDX|string).split(',') %}
    {% set transmit_last = params.TRANSMIT|default(1) %}
    
    {% for led_index in idx %}
        {% set transmit=transmit_last if loop.last else 0 %}
        set_led led={led} green={green} red={red} blue={blue} index={led_index} transmit={transmit}
    {% endfor %}

[gcode_macro _set_sb_leds]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = params.LED|string %}
    {% set idx = (params.IDX|string).split(',') %}
    {% set transmit_last = params.TRANSMIT|default(1) %}
    
    {% for led_index in idx %}
        {% set transmit=transmit_last if loop.last else 0 %}
        set_led led={led} red={red} green={green} blue={blue} white={white} index={led_index} transmit={transmit}
    {% endfor %}

[gcode_macro _set_case_leds_by_name]
gcode:
    {% set leds_name = params.LEDS %}
    {% set color_name = params.COLOR %}
    {% set color = printer["gcode_macro _rgb_vars"].colors[leds_name][color_name] %}
    {% set led = printer["gcode_macro _rgb_vars"][leds_name + "_led_name"] %}
    {% set idx = printer["gcode_macro _rgb_vars"][leds_name + "_idx"] %}
    {% set transmit = params.TRANSMIT|default(1) %}

    _set_case_leds led={led} red={color.r} green={color.g} blue={color.b} idx="{idx}" transmit={transmit}

[gcode_macro _set_sb_leds_by_name]
gcode:
    {% set leds_name = params.LEDS %}
    {% set color_name = params.COLOR %}
    {% set color = printer["gcode_macro _rgb_vars"].colors[leds_name][color_name] %}
    {% set led = printer["gcode_macro _rgb_vars"][leds_name + "_led_name"] %}
    {% set idx = printer["gcode_macro _rgb_vars"][leds_name + "_idx"] %}
    {% set transmit = params.TRANSMIT|default(1) %}

    _set_sb_leds led={led} red={color.r} green={color.g} blue={color.b} white={color.w} idx="{idx}" transmit={transmit}

[gcode_macro _set_caselight_leds]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set led = printer["gcode_macro _rgb_vars"].case_led_name %}
    {% set idx = printer["gcode_macro _rgb_vars"].case_idx %}
    {% set transmit=params.TRANSMIT|default(1) %}

    _set_case_leds led={led} red={red} green={green} blue={blue} idx="{idx}" transmit={transmit}

[gcode_macro _set_logo_leds]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = printer["gcode_macro _rgb_vars"].logo_led_name %}
    {% set idx = printer["gcode_macro _rgb_vars"].logo_idx %}
    {% set transmit=params.TRANSMIT|default(1) %}

    _set_sb_leds led={led} red={red} green={green} blue={blue} white={white} idx="{idx}" transmit={transmit}

[gcode_macro _set_nozzle_leds]
gcode:
    {% set red = params.RED|default(0)|float %}
    {% set green = params.GREEN|default(0)|float %}
    {% set blue = params.BLUE|default(0)|float %}
    {% set white = params.WHITE|default(0)|float %}
    {% set led = printer["gcode_macro _rgb_vars"].nozzle_led_name %}
    {% set idx = printer["gcode_macro _rgb_vars"].nozzle_idx %}
    {% set transmit=params.TRANSMIT|default(1) %}

    _set_sb_leds led={led} red={red} green={green} blue={blue} white={white} idx="{idx}" transmit={transmit}

[gcode_macro set_case_leds_off]
gcode:
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_caselight_leds red=0 blue=0 green=0 transmit={transmit}

[gcode_macro set_logo_leds_off]
gcode:
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_logo_leds red=0 blue=0 green=0 white=0 transmit={transmit}

[gcode_macro set_nozzle_leds_on]
gcode:
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_sb_leds_by_name leds="nozzle" color="on" transmit={transmit}

[gcode_macro set_nozzle_leds_off]
gcode:
    {% set transmit=params.TRANSMIT|default(1) %}
    _set_sb_leds_by_name leds="nozzle" color="off" transmit={transmit}

[gcode_macro status_off]
gcode:
    set_case_leds_off transmit=1
    set_logo_leds_off transmit=0
    set_nozzle_leds_off

[gcode_macro status_ready]
gcode:
    _set_case_leds_by_name leds="case" color="standby" transmit=1
    _set_sb_leds_by_name leds="logo" color="standby" transmit=0
    _set_sb_leds_by_name leds="nozzle" color="standby" transmit=1

[gcode_macro status_busy]
gcode:
    _set_case_leds_by_name leds="case" color="busy" transmit=1
    _set_sb_leds_by_name leds="logo" color="busy" transmit=0
    set_nozzle_leds_on

[gcode_macro status_heating]
gcode:
    _set_case_leds_by_name leds="case" color="heating" transmit=1
    _set_sb_leds_by_name leds="logo" color="heating" transmit=0
    _set_sb_leds_by_name leds="nozzle" color="heating" transmit=1

[gcode_macro status_leveling]
gcode:
    _set_case_leds_by_name leds="case" color="leveling" transmit=1
    _set_sb_leds_by_name leds="logo" color="leveling" transmit=0
    set_nozzle_leds_on

[gcode_macro status_homing]
gcode:
    _set_case_leds_by_name leds="case" color="homing" transmit=1
    _set_sb_leds_by_name leds="logo" color="homing" transmit=0
    set_nozzle_leds_on

[gcode_macro status_cleaning]
gcode:
    _set_case_leds_by_name leds="case" color="cleaning" transmit=1
    _set_sb_leds_by_name leds="logo" color="cleaning" transmit=0
    set_nozzle_leds_on

[gcode_macro status_meshing]
gcode:
    _set_case_leds_by_name leds="case" color="meshing" transmit=1
    _set_sb_leds_by_name leds="logo" color="meshing" transmit=0
    set_nozzle_leds_on

[gcode_macro status_calibrating_z]
gcode:
    _set_case_leds_by_name leds="case" color="calibrating_z" transmit=1
    _set_sb_leds_by_name leds="logo" color="calibrating_z" transmit=0
    set_nozzle_leds_on

[gcode_macro status_printing]
gcode:
    _set_case_leds_by_name leds="case" color="printing" transmit=1
    _set_sb_leds_by_name leds="logo" color="printing" transmit=0
    set_nozzle_leds_on

[gcode_macro LIGHTS_OUT]
gcode:
    status_off
    SET_PIN PIN=caselight VALUE=0