#####################################################################
#   Introduction
#####################################################################

## This file is the configuration for the extruder.
## It is a stealthburner, with dragon hotened
## Slice High temperature Thermistor and Triangle Labs 60w heater

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[safe_z_home]
# ##  XY Location of the Z Endstop Switch
# ##  Update -10,-10 to the XY coordinates of your endstop pin 
# ##  (such as 157,305) after going through Z Endstop Pin
# ##  Location Definition step.
home_xy_position:150,150
speed:100
z_hop:10

# ##  Use QUAD_GANTRY_LEVEL to level a gantry.
# ##  Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
# ##  MAX (250, 250), (300,300), or (350,350) depending on your printer size
# ##  to respective belt positions
[quad_gantry_level]
gantry_corners:
   -60,-10
   360,370
##  Probe points
points:
   50,25
   50,225
   250,225
   250,25
speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

[bed_mesh]
speed: 300
horizontal_move_z: 10

mesh_min: 40, 40
mesh_max: 260,260

fade_start: 0.6
fade_end: 10.0
probe_count: 5,5 # Values should be odd, so one point is directly at bed center
algorithm: bicubic

[gcode_macro PARK]
gcode:
    {% set th = printer.toolhead %}
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y//2} Z30  

[gcode_macro G32]
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    status_homing
    G28
    status_leveling
    QUAD_GANTRY_LEVEL
    status_homing
    G28
    PARK
    status_ready
    RESTORE_GCODE_STATE NAME=STATE_G32

#####################################################################
#   Slicer Print Setup
#####################################################################

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    # Parameters
    {% set bedtemp = params.BED|int %}
    {% set hotendtemp = params.HOTEND|int %}
    {% set chambertemp = params.CHAMBER|default(0)|int %}

    # Turn on pwer to the bed
    BED_POWER_ON

    # Set Initial temperatures and use nevermore as bed fan
    SET_FAN_SPEED FAN=Nevermore SPEED=1
    status_heating
    M141 S{chambertemp}
    M104 S150
    M190 S{bedtemp}

    # Heat soak the printer to the required temperature
    TEMPERATURE_WAIT SENSOR="temperature_sensor Gantry" MINIMUM={chambertemp - 25}
    SET_FAN_SPEED FAN=Nevermore SPEED=0.2
    M109 S150

    # Recalibrate
    G32
    status_meshing
    BED_MESH_CALIBRATE
    G90                            ; absolute positioning
    G1 Z20 F3000                   ; move nozzle away from bed
    status_heating
    M109 S{hotendtemp}
    SFS_ENABLE
    status_printing
   

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    SFS_DISABLE
    SET_FAN_SPEED FAN=Nevermore SPEED=0.2
    status_busy
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-5.0 F1800                 ; retract filament
    
    TURN_OFF_HEATERS
    M141 S40                        ; change the chamber temp to 40 C
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    # Turn off the case lights and nevermore after 5 minutes
    UPDATE_DELAYED_GCODE ID=caselight_off DURATION=300
    UPDATE_DELAYED_GCODE ID=filter_off DURATION=300

    
    BED_MESH_CLEAR
    status_off

    RESTORE_GCODE_STATE NAME=STATE_PRINT_END